body {
  font-family: "Lucida Console", "Courier New", monospace;
}

.budgetDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 1% 3% 3% 3%;
  border: 2px solid #8e8e8e;
  border-radius: 0.5em;
  background-color: #fbfbfb;
}

td {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
}

th {
  border-radius: 0.5em;
}

table {
  margin-top: 1rem;;
  padding: 10px;
  border: 2px solid #d1d1d1;
  border-radius: 0.5em;
}

tr:hover {
  background-color: #f5f5f5;
}

th, td {
  padding: 10px;
  text-align: center;
}

.addForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.alert {
  right: 0; 
  top: 20;
  position: fixed;
  padding: 20px;
  width: auto;
  background-color: #e04f00; /* #ffaa2b */
  color: white;
  animation: cssAnimation 0s 3.5s forwards;
  visibility: visible;
  border: none;
}

@keyframes cssAnimation {
  to {
    visibility: hidden; 
  }
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.del {
  width: 1.5rem;
  padding: 2px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #a1a1a1;
}

.del:hover {
  background-color: #303030;
}

.item {
  width: 95%;
}

.del, .item {
  float: left;
  margin: 0 auto;
}

.genReport {
  float: left;
}

.incHeader {
  background-color: #00b837;
  color: white;
}

.expHeader {
  background-color: #B22222;
  color: white;
}

.incButton {
  background-color: #00b837;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.expButton {
  background-color: #B22222;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.grButton {
  background-color: #1464e3;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

.incButton:hover {
  background-color: #6dff6b;
  color: black;
  cursor: pointer;
}

.expButton:hover {
  background-color: #ffa1a1;
  color: black;
  cursor: pointer;
}

.grButton:hover {
  background-color: #59bbf0;
  color: black;
  cursor: pointer;
}

.report {
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  z-index: 2;
  display: block;
  margin-left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.reportText {
  color: white;
  font-size: 25px;
  text-align: center;
  top: 20%;
  width: 100%;
  left: 0;
  line-height: 30px;
  margin-top: 125px;
  position: absolute;
}

.closeReport {
  margin-top: 80px;
  margin-right: 50px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 100px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closeReport:hover {
  color: black;
}

.balance {
  font-weight: bold;
}

.hideWarning {
  border-radius: 0.5em;
  border: solid 2px rgb(82, 82, 82);
  background-color: rgb(82, 82, 82);
  color: white;
  padding: 3px 6px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  /* display: inline-block; */
  display: none;
}

.hideWarning:hover {
  color: black;
}

@media only screen and (max-width: 1600px) {
  .budgetDiv {
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: space-evenly;
  }
}


@media only screen and (max-width: 700px) {
  * {
    font-size: 1rem;
  }

  .addForm {
    flex-direction: column;
  }

  .addForm > input {
    margin-top: 0.5em;
  }

  .del {
    padding: 0.1em 0.1em;
  }

  table {
    max-width: 75%;
  }

  .budgetDiv {
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  * {
    font-size: 0.9rem;
  }

  .addForm > input {
    margin-top: .5rem 0;
    padding: 0.25em;
    max-width: 90%;
    max-height: 90%;
  }

  .del {
    padding: 0.25em 0.30em;
  }
}